.container {
  padding: 10px;
  border-radius: 8px;
  color: #5d6362;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 40px;
  column-gap: 1.5rem;
  align-items: center;

  cursor: pointer;

  transition: background-color 0.15s ease-in;

  margin: 10px 0 10px 0;

  &__active {
    background-color: #202020;
  }

  div {
    font-weight: 700;
    font-size: 13px;
  }

  div:nth-of-type(1) {
    margin-left: 5px;
    color: white;
    font-weight: 500;

    img {
      margin-left: 20px;
    }
  }

  div:last-of-type {
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
  }

  .activeTitle {
    color: #3e924c;
  }
}

.container:hover:not(.container__active) {
  background-color: #5d636217;
}