.container {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  max-height: 50px;
  height: 25px;

  padding: 10px;

  border-radius: 5px;

  margin-right: 7px;

  cursor: pointer;

  &__bg-inactive {
    background-color: #80808038;
  }

  &__bg-active {
  background: linear-gradient(60deg, rgba(77, 255, 134, 0.18) 2%, rgba(128, 128, 128, 0.15) 70%);
  }

  .prefixImage {
    margin-right: 8px;
  }

  .infoGroup {
    padding-right: 40px;

    h2 {
      color: #a9a9a983;
      font-size: 9px;
    }

    h3 {
      color: #ffffffb0;
      font-size: 11px;
    }
  }

  .sufixImage {
    margin-left: 40px;
    padding-right: 3px;
  }

  .activeLineGroup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .activeLine {
    width: 85%;
    border-top: 2.5px solid #1bd7609f;
    border-radius: 0.8px;
  }
}