@import-normalize;

body {
  background-color: #0f0f0f;
  box-sizing: border-box;

  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.App {
  > img {
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    transform: scaleX(-1);
  }
}